<!DOCTYPE html>
<html>
  <head>
    <title>Pasquereau-et-al-2007</title>
    <script src="https://chemwriter.com/sdk/chemwriter.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://chemwriter.com/sdk/chemwriter.css">
    <link rel="icon" 
          type="image/ico" 
          href="/static/favicon.ico" />
  </head>
  <style>
    body { font-family: monospace; }
    h1 { border-bottom: 4px solid black; font-size: 260%; }
    table { width: 100%; border-collapse: collapse; border-style: hidden; table-layout: fixed; }
    td { border: 10px solid transparent; }
    tr { height: 200px; }
    .page { width: 464px; margin: 0 auto; }
    .cell { background-color: #c0c0c0; text-align: center; padding: 10px; }
    .image { height: 128px; background-color: white; margin-bottom: 10px;}
    .data { font-size: 180%; }
  </style>
  <body>
    <div class="page">
      <h1>Elige {{ user }} :)</h1>
      <table>
        <tbody>
          <tr> <!-- ROW 1 -->
            <td>
              <div class="cell">
              </div>
            </td>
            <td>
              <div class="cell">
                {% if pos_a == 0 %}
                <div class="image"><input type="image" src="/static/{{ cue_a }}" id ='cuea' style="display:none" ></div>
                {% elif pos_b == 0 %}
                <div class="image"><input type="image" src="/static/{{ cue_b }}" id ='cueb' style="display:none" ></div>
                {% endif %}
              </div>
            </td>
            <td>
              <div class="cell">
                
              </div>
            </td>
          </tr>

          <tr> <!-- ROW 2 -->
            <td>
              <div class="cell">
                {% if pos_a == 3 %}
                <div class="image"><input type="image" src="/static/{{ cue_a }}" id ='cuea' style="display:none" ></div>
                {% elif pos_b == 3 %}
                <div class="image"><input type="image" src="/static/{{ cue_b }}" id ='cueb' style="display:none" ></div>
                {% endif %}
              </div>
            </td>
            <td>
              <div class="cell">
                <div class="image"><input type="image" src="/static/0reward.png" id ='reward' style="display:none" ></div>
                <div class="image"><input type="image" src="/static/0no-reward.png" id ='no-reward' style="display:none" ></div>
              </div>
            </td>
            <td>
              <div class="cell">
                {% if pos_a == 1 %}
                <div class="image"><input type="image" src="/static/{{ cue_a }}" id ='cuea' style="display:none" ></div>
                {% elif pos_b == 1 %}
                <div class="image"><input type="image" src="/static/{{ cue_b }}" id ='cueb' style="display:none" ></div>
                {% endif %}
              </div>
            </td>
          </tr>

          <tr> <!-- ROW 3 -->
            <td>
              <div class="cell">
              </div>
            </td>
            <td>
              <div class="cell">
                {% if pos_a == 2 %}
                <div class="image"><input type="image" src="/static/{{ cue_a }}" id ='cuea' style="display:none" ></div>
                {% elif pos_b == 2 %}
                <div class="image"><input type="image" src="/static/{{ cue_b }}" id ='cueb' style="display:none" ></div>
                {% endif %}
              </div>
            </td>
            <td>
              <div class="cell">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
    <script>

    $(document).ready(function() {

       $('#cuea').click(function(){
           $.ajax({
           url: "{{ url_for ('select') }}?selected={{ pos_a }}&time="+performance.now(),
           type: "GET",
           success: function(response) {
               if(response==1) {
                 document.getElementById('reward').style.display = 'block';
              }
              else {
                 document.getElementById('no-reward').style.display = 'block';
              }
             document.getElementById('reward').style.display = 'block';
          },
          error: function(xhr) {
            //Do Something to handle error
         }
         });

          setTimeout(function(){
            location.reload();
          },1000);
       });


       $('#cueb').click(function(){
           $.ajax({
           url: "{{ url_for ('select') }}?selected={{ pos_b }}&time="+performance.now(),
           type: "GET",
           success: function(response) {
               if(response==1) {
                document.getElementById('reward').style.display = 'block';
              }
              else {
                 document.getElementById('no-reward').style.display = 'block';
              }
              document.getElementById('reward').style.display = 'block';
          },
          error: function(xhr) {
            //Do Something to handle error
         }
         });

          setTimeout(function(){
            location.reload();
          },1000);
       });
    });

    setTimeout(function(){
        document.getElementById('cuea').style.display = 'block';
        document.getElementById('cueb').style.display = 'block';
    },500);


    setTimeout(function(){
        document.getElementById('cuea').style.display = 'none';
        document.getElementById('cueb').style.display = 'none';
    },3500);

    setTimeout(function(){
      location.reload();
    },4000);
  </script>
</html>